os: linux
dist: xenial
language: php

php:
  - 7.2
  - 7.3

install:
  - composer install --prefer-dist

script:
  - make test
  - make analyse

after_success:
  - if [[ "7.3" == "${TRAVIS_PHP_VERSION}" ]]; then bash <(curl -s https://codecov.io/bash) ; fi

cache:
  directories:
    - $HOME/.composer/cache/files
    - vendor
